html {
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: justify;
}

#navbar {
    background: cornflowerblue;
    display: flex;
    align-items: center;
    height: auto;
    padding: 20px 50px;
}

#navbar img {
    max-height: 120px;
    max-width: 120px;
    border-radius: 5px;
    margin-right: 20px;
}

.nav-menu-wide {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    margin: 0px 20px;
    border: 2px solid cornflowerblue;
    font-size: 1.5rem;
}

.nav-menu-wide:hover {
    transition-delay: 0.2s;
    color: black;
    background: white;
    border: 2px solid cornflowerblue;
    border-radius: 10px;
}

#menu {
    display: none;
}

.nav-menu-narrow {
    display: none;
}

#main {
    margin: 50px 100px 0px 100px;
}

.row-article, .row-article-reverse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: cornflowerblue;
    padding: 20px 50px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.column-article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: cornflowerblue;
    padding: 20px 50px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.column-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 10px;
}

.row-article img {
    margin: 0px 10px;
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    border-radius: 10px;
}

.row-article-reverse img {
    margin: 0px 10px;
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    border-radius: 10px;
}

.row-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link {
    color: white;
    text-decoration: underline;
}

.row-section .icon {
    max-width: 30px;
    height: auto;
    margin: 10px;
    border-radius: 0px;
}

.white-button {
    text-decoration: none;
    color: black;
    background: white;
    padding: 20px;
    border: 2px solid cornflowerblue;
    font-size: 1.2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.white-button:hover {
    text-decoration: none;
    color: white;
    background: rgb(71, 129, 236);
    border: 2px solid black;
}

.white-button img {
    max-width: 30px;
    margin: 0px 5px 0px 0px;
}



form label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: block;
}

form input, textarea {
    font-size: 1.2rem;
    margin-bottom: 20px;
    display: block;
}

form textarea {
    width: 100%;
}

#footer {
    background: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px 50px;
}

#footer div {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#footer div a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin: 0px 10px;
}

#footer p {
    margin: 0px;
    font-size: 1rem;
}

@media (max-width: 1000px) {
    .row-article img {
        max-width: 200px;
        max-height: 200px;
        height: auto;
        width: auto;
    }

    .row-article-reverse img {
        max-width: 200px;
        max-height: 200px;
        height: auto;
        width: auto;
    }

    #main {
        margin: 50px 20px 0px 20px;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1.2rem;
    }
    
    p {
        font-size: 1rem;
    }

    .white-button {
        font-size: 1rem;
    }

    .white-button img {
        max-width: 30px;
        margin: 0px 5px 0px 0px;
    }

    #navbar {
        padding: 10px 10px;
        justify-content: space-evenly;
    }

    #navbar img {
        max-height: 70px;
        max-width: 70px;
        margin-right: 10px;
    }
    
    .nav-menu-wide {
        font-size: 1rem;
        margin: 0px 10px;
        padding: 10px;
    }
}

@media (max-width: 600px) {
    .nav-menu-wide {
        display: none;
    }

    #navbar {
        padding: 20px 10px;
        justify-content: center;
    }

    #navbar img {
        max-height: 70px;
        max-width: 70px;
        margin-right: 10px;
    }
    
    #menu {
        display: inline-block;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        padding: 0px;
        margin: 0px 10px;
        border: 2px solid cornflowerblue;
        font-size: 1rem;
    }

    #menu:hover a {
        display: block;
        position: relative;
        left: 0;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        border: 2px solid cornflowerblue;
        font-size: 0.8rem;
        padding: 10px 10px;
    }

    #menu:hover a:hover {
        transition-delay: 0.2s;
        color: black;
        background: white;
        border: 2px solid cornflowerblue;
        border-radius: 10px;
    }

    #main {
        margin: 50px 20px 0px 20px;
    }

    .row-article {
        flex-direction: column;
        align-items: center;
        padding: 20px 20px;
    }

    .row-article-reverse {
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px 20px;
    }

    .row-article img {
        max-width: 100px;
        height: auto;
        margin: 20px 20px;
    }

    .row-article-reverse img {
        max-width: 100px;
        height: auto;
        margin: 20px 20px;
    }

    h2 {
        font-size: 1.2rem;
    }
    
    h3 {
        font-size: 1rem;
    }
    
    p {
        font-size: 0.9rem;
    }

    .white-button {
        font-size: 0.8rem;
    }

    .white-button img {
        max-width: 30px;
        margin: 0px 5px 0px 0px;
    }
    
}





